{
  "tailwindConfig": "./tailwind.config.js",
  "tailwindAttributes": ["myClassList"],
  "tailwindFunctions": ["clsx", "tw"],
  "tailwindPreserveDuplicates": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
