@tailwind base;
@tailwind components;
@tailwind utilities;

.masked-image img {
  width: 100%;
  height: auto;
  -webkit-mask-image: url("/Shape.png");
  -webkit-mask-size: cover;
  mask-image: url("/Shape.png");
  mask-size: cover;
}
